@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  color:white;
  font-family: 'Roboto', sans-serif;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(160px, 160px));
}

#selectionedValue{
  color: black;
}

option{
  color:black
}

.header{
  height: 50px;
  background: #acacac;
  margin-bottom: 3px;
}


.footer{
  height: 100px;
  background: #acacac;
  margin-top: 3px;
}

.container{
  width: 100%;
}

.stylecenter{
  display: flex;
}

.leftside{
  background: #acacac;
  width: 250px;
}

.rightSide{
  background: #acacac;
  width: 200px;
}

.cardcenter{
  margin: 30px;
  max-width: 150px;
  height: 100px;
  background: #acacac;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


select{
  margin-top: 20px;
  width: 80%;
  font-size: 18px;
  height: 35px;
}


button{
  margin-top: 20px;
  width: 80%;
  height: 30px;
  font-size: 20px;
  color: #000;
  background: #dadada;
  border: none;
  border-radius: 8px;
}


button:hover{
  background: #cecece;
  box-shadow: 1px 2px 4px #dadada;
}

h1{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p{
  display: flex;
  justify-content: center;
  align-items: center;
}